* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container {
	max-width: 950px;
	margin-left: auto;
	margin-right: auto;
}

.arrow {
	position: relative;
	background: #f8e27b;
	height: 6px;
	&:after {
		top: 100%;
		left: 50%;
		content: " ";
		height: 0;
		width: 0;
		position: absolute;
		pointer-events: none;
		border: 12px solid rgba(136, 183, 213, 0);
		border-top-color: #f8e27b;
		margin-left: -12px;
	}
}

.top {
	margin-top: 15px;
	vertical-align: middle;
	overflow: hidden;
	.left {
		float: left;
		vertical-align: middle;
		line-height: 35px;
		button {
			font-size: 14px;
			font-weight: 700;
			background-size: 15px;
			padding: 4px 15px 4px 30px;
			border-radius: 20px;
			&:first-child {
				background: #f8e27b url("../img/icon-pen.png") no-repeat 10px center;
				margin-right: 10px;
			}
			&:last-child {
				background: #f8e27b url("../img/icon-money.png") no-repeat 10px center;
				clear: both;
			}
		}
	}
	.middle {
		padding-left: 45%;
		button {
			border-radius: 50%;
			text-indent: -9999px;
			width: 30px;
			height: 30px;
			&:nth-child(1) {
				background: url("../img/social-circle-vk.png") no-repeat 0 0;
				background-size: cover;
			}
			&:nth-child(2) {
				background: url("../img/social-circle-odnoklassniki.png") no-repeat 0 0;
				background-size: cover;
			}
			&:nth-child(3) {
				background: url("../img/social-circle-fb.png") no-repeat 0 0;
				background-size: cover;
			}
		}
	}
	.right {
		float: right;
		ul {
			clear: both;
			li {
				display: inline;
				&:nth-child(1) {
					background: url("../img/social-skype.png") no-repeat 0 0;
					background-size: contain;
					margin-right: 25px;
				}
				&:nth-child(2) {
					background: url("../img/social-twitter.png") no-repeat 0 0;
					background-size: contain;
					margin-right: 30px;
				}
				&:nth-child(3) {
					background: url("../img/social-mail.png") no-repeat 0 0;
					background-size: contain;
				}
				a {
					display: inline-block;
					color: #8dbdef;
					padding-left: 25px;
					height: 30px;
					vertical-align: middle;
					line-height: 20px;
				}
			}
		}
	}
}
@mixin link-with-image($content, $img) {
	display: inline-block;
	color: #8dbdef;
	padding-left: 25px;
	height: 30px;
	vertical-align: middle;
	line-height: 20px;

	&:after {
		content: $content;
		display: inline-block;
		text-decoration: underline blue;
	}
	&:before {
		content: "";
		display: inline-block;
		background: url($img) no-repeat 0 0;
		background-size: contain;
		width: 15px;
		height: 15px;
	}
}
.test-container {
	@extend .container;
	ul {
		li {
			a {
				@include link-with-image("testing-one", "../img/social-mail.png");
			}
		}
	}


}
hr {
	margin-top: 10px;
	height: 2px;
	background-color: #8dbdef;
}

.below-top {
	margin-top: 40px;
	overflow: hidden;
	display: block;
	width: 100%;
	.left {
		margin-top: 5px;
		display: inline-block;
		width: 33%;
		float: left;
		a {
			color: #429ae8;
			display: inline-block;
		}
		p:nth-child(1) {
			margin-bottom: 25px;
			a {
				text-decoration: underline dotted #8dbdef;
				margin-right: 10px;
				vertical-align: middle;
				height: 15px;
				font-size: 12px;
			}
		}
		p:nth-child(2) {
			font-size: 12px;
			span {
				padding: 0 5px 0 5px;
			}
		}
	}
	.middle {
		display: inline-block;
		text-align: center;
		width: 33%;
		h1 {
			font-size: 32px;
			span:nth-child(1) {
				color: #0193e9;
			}
			span:nth-child(2) {
				color: #f4cf23;
			}
			&:after {
				content: "";
				display: block;
				width: 55px;
				margin: 10px 0 10px 130px;
				border-bottom: 3px solid #000000;
			}
		}
		h6 {
			display: block;
			font-size: 12px;
			text-align: center;
		}
	}
	.right {
		float: right;
		display: inline-block;
		a {
			display: block;
			text-align: right;
			height: 30px;
			color: #429ae8;
			&:nth-child(1):before {
				content: "";
				background: url("../img/icon-basket.png") no-repeat 0 0;
				width: 25px;
				height: 25px;
				vertical-align: middle;
				background-size: contain;
				display: inline-block;
				padding-right: 10px;
			}
			&:nth-child(2) {
				margin-top: 20px;
			}
			&:nth-child(2):before {
				content: "";
				background: url("../img/icon-heart.png") no-repeat 0 0;
				width: 25px;
				height: 20px;
				vertical-align: middle;
				background-size: contain;
				display: inline-block;
				padding-right: 10px;
			}
		}
	}
}

nav {
	text-align: center;
	menu {
		display: block;
		width: 100%;
		li {
			display: inline;
		}
	}
	.top {
		margin-bottom: 15px;
		a {
			font-size: 14px;
			display: inline-block;
			text-decoration: none;
			color: #3F3F3F;
			margin-left: 20px;
			&:hover {
				text-decoration: underline #279ceb;
				color: #279ceb;
			}
		}
	}
	.bottom {
		a {
			font-size: 14px;
			display: inline-block;
			text-decoration: none;
			color: #3F3F3F;
			margin-left: 20px;
			padding-bottom: 16px;
			&:hover {
				border-bottom: 3px solid #429ae8;
			}
		}
	}
}

.slider-block {
	border-top: 1px solid yellow;
	height: 335px;
	display: block;
	background: url("../img/tracery-large.png") no-repeat 0 0;
	background-size: contain;
		.container {
			margin-top: 25px;
			.slider {
				position: relative;
				overflow: hidden;
				display: inline-block;
				height: 300px;
				width: 69%;
				border: 2px solid yellow;
				padding: 40px 250px 0 80px;
				background: white url("../img/fg-medium.jpg") no-repeat right;
				background-size: contain;
				h1 {
					display: block;
					font-size: 26px;
					margin-bottom: 18px;
					color: #0193e9;
				}
				p {
					display: block;
					font-size: 12px;
					width: 70%;
					margin-bottom: 35px;
				}
				span {
					display: block;
					font-size: 22px;
					margin-bottom: 40px;
					background: url("../img/icon-sticker.png") no-repeat 0 0;
					background-size: 17px;
					padding-left: 20px;
				}
				a {
					display: block;
					font-size: 14px;
					color: #429ae8;
					&:after {
						content: "-10%";
						background-color: yellow;
						display: inline-block;
						border-radius: 50%;
						margin-left: 10px;
						padding: 12px 5px 12px 5px;
						font-size: 14px;
						text-decoration: none;
						font-weight: 700;
					}
				}
				&:before {
					content: "";
					position: absolute;
					display: inline-block;
					background-size: contain;
					left: 10px;
					top: 45%;
					width: 35px;
					height: 35px;
					background: yellow url("../img/icon-arrow.png") no-repeat 10px center;
					border-radius: 50%;

				}
				&:after {
					content: "";
					position: absolute;
					display: inline-block;
					background-size: contain;
					right: 10px;
					top: 45%;
					width: 35px;
					height: 35px;
					background: yellow url("../img/icon-arrow.png") no-repeat 10px center;
					border-radius: 50%;
					transform: rotate(180deg);
				}
			}
			.rec {
				display: inline-block;
				width: 30%;
				vertical-align: top;
				ul {
					height: 335px;
					li {
						border: 2px solid #429ae8;
						list-style: none;
						height: calc(30% - 10px);
						padding: 10px;
						margin-bottom: 10px;
						background: white url("../img/t-shirts/t-shirt-2.jpg") no-repeat right 0;
						background-size: contain;
						a {
							color: #0193e9;
							span {
								display: block;
								margin-bottom: 10px;
							}
							&:after {
								content: "180 грн.";
								display: inline-block;
								background: url("../img/icon-sticker.png") no-repeat 0 0;
								background-size: contain;
								padding-left: 20px;
								text-decoration: none;
								color: #3F3F3F;
							}
						}
						&:last-child {
							height: 30%; // TODO fix height
						}
					}
				}
			}
		}
}

.social {
	display: block;
	h1 {
		display: block;
		font-size: 22px;
		text-align: center;
		color: #0193e9;
		margin-top: 50px;
	}
	img {
		display: block;
		margin-right: auto;
		margin-left: auto;
		margin-top: 30px;
	}
}

.info {
	margin-top: 45px;
	text-align: center;
	ul {
		li {
			text-align: left;
			display: inline-block;
			width: calc((100% / 3) - 30px);
			padding-left: 80px;
			margin-right: 30px;
			i {
				margin-top: 15px;
				font-size: 14px;
				display: block;
				margin-bottom: 15px;
			}
			h5 {
				font-size: 14px;
				margin-bottom: 15px;
			}
			p {
				font-size: 12px;
				margin-bottom: 15px;
			}
			a {
				color: #0193e9;
			}
			&:nth-child(1) {
				background: url("../img/icon-brush.png") no-repeat 0 0;
			}
			&:nth-child(2) {
				background: url("../img/icon-operator.png") no-repeat 0 0;
			}
			&:nth-child(3) {
				background: url("../img/icon-man.png") no-repeat 0 0;
				margin-right: 0;
			}
		}
	}
}

.shirts {
	margin-top: 50px;
	.text {
		h1 {
			text-align: center;
			font-size: 22px;
			color: #279ceb;
			&:after {
				content: "";
				margin-top: 10px;
				width: 65px;
				display: block;
				margin-left: auto;
				margin-right: auto;
				text-align: center;
				border-bottom: 2px solid black;
			}
		}
		a {
			text-align: center;
			display: block;
			color: #0193e9;
			margin-top: 10px;
		}
	}
	.list {
		margin-top: 20px;
		ul {
			position: relative;
			&:after {
				content: "";
				position: absolute;
				display: inline-block;
				background-size: contain;
				right: 10px;
				top: 30%;
				width: 35px;
				height: 35px;
				background: yellow url("../img/icon-arrow.png") no-repeat 10px center;
				border-radius: 50%;
				transform: rotate(180deg);
			}
			&:before {
				content: "";
				position: absolute;
				display: inline-block;
				background-size: contain;
				left: 10px;
				top: 30%;
				width: 35px;
				height: 35px;
				background: yellow url("../img/icon-arrow.png") no-repeat 10px center;
				border-radius: 50%;
			}
			li {
				display: inline;
				a {
					text-decoration: none;
					text-align: center;
					width: calc((100% / 4) - 5px);
					display: inline-block;
					background: url("../img/t-shirts/t-shirt-1.jpg") no-repeat 0 0;
					background-size: contain;
					padding-top: 25%;
					padding-bottom: 50px;
					max-height: 430px;
					p:nth-child(1) {
						color: #0193e9;
						font-size: 14px;
					}
					p:nth-child(2) {
						color: #3F3F3F;
						font-size: 14px;
					}
					p:nth-child(3) {
						color: #3F3F3F;
						font-size: 18px;
						margin: 15px 0;
					}
					button {
						padding: 5px 10px 5px 30px;
						background: yellow url("../img/icon-basket.png") no-repeat 5px center;
						border-radius: 33%;
						color: #3F3F3F;
						font-weight: 700;
					}
					&:hover {
						border: 3px solid #0193e9;
					}
				}
			}
		}

	}
	a {
		font-size: 22px;
		text-align: center;
		display: block;
		color: #0193e9;
		text-decoration: underline dotted #0193e9;
	}
}

.season {
	.label {
		text-align: center;
		font-size: 45px;
		color: #0193e9;
		margin-top: 70px;
	}
	hr {
		color: #0193e9;
		height: 3px;
		margin-top: 30px;
	}
	.hor-list {
		margin-top: 30px;
		li {
			display: inline;
			a {
				text-decoration: none;
				text-align: center;
				width: calc((100% / 13) - 5px);
				display: inline-block;
				background: url("../img/t-shirts/t-shirt-1.jpg") no-repeat 0 0;
				background-size: contain;
				padding-top: 8%;
				p:nth-child(1) {
					color: #3F3F3F;
					font-size: 14px;
				}
				button {
					padding: 5px 10px 5px 30px;
					background: yellow url("../img/icon-basket.png") no-repeat 5px center;
					border-radius: 33%;
					color: #3F3F3F;
					font-weight: 700;
				}
			}
		}
	}
}

.discount {
	display: block;
	margin-top: 30px;
	.content {
		display: inline-block;
		width: 79%;
		position: relative;
		.first {
			position: absolute;
			bottom: 30px;
			display: inline-block;
			width: 50%;
			margin-right: 80px;
			p {
				font-size: 40px;
				color: #0193e9;
			}
		}
		.second {
			position: absolute;
			bottom: 0;
			left: 60%;
			display: inline-block;
			p {
				font-size: 130px;
				color: #f2de36;
			}
		}
	}
	img {
		display: inline-block;
	}
}

.review {
	display: block;
	margin-top: 30px;
	.width {
		width: calc(100% /2 - 30px);
	}
	.title {
		position: relative;
		display: inline-block;
		width: 100%;
		p {
			display: inline-block;
			color: #0193e9;
			font-size: 18px;
			font-weight: 700;
		}
		a {
			position: absolute;
			display: inline-block;
			text-align: right;
			color: #0193e9;
			bottom: 0;
			right: 0;
			font-size: 12px;
		}
	}
	.content {
		display: block;
		margin: 15px 0;
		p {
			margin: 5px 0;
			color: #3F3F3F;
			font-size: 12px;
			&:nth-child(2) {
				color: #0193e9;
				font-weight: 700;
				font-size: 14px;
			}
		}
	}
	hr {
		color: #0193e9;
		height: 3px;
	}
	.left {
		display: inline-block;
		margin-right: 50px;


	}
	.right {
		display: inline-block;
		.title {
			display: block;
			width: 100%;
			position: relative;
		}
		.content {
			display: block;
			padding-left: 80px;
			background: url("../img/reviews/man-1.png") no-repeat 0 0;
			p:nth-child(2) {
				color: #3F3F3F;

			}
		}
		.content:nth-child(4) {
			background: url("../img/reviews/woman-1.png") no-repeat 0 0;
		}
	}
}


.tracery {
	background: url("../img/tracery-large.png") no-repeat 0 0;
	background-size: cover;
	height: 138px;
	transform: rotate(180deg);
}

.footer {
	@extend .container;
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;

	.links {
		flex: auto;
		p {
			font-weight: 700;
			font-size: 14px;
			color: #3F3F3F;
		}
		ul {
			li {
				list-style: none;
				a {
					color: #0193e9;
					margin: 7px 0;
					font-size: 12px;
				}
			}
		}
	}
	.contacts {
		flex: auto;
		.buttons {
			display: block;
			li {
				display: inline;
				button {
					background: url("../img/social-circle-vk.png") no-repeat 0 0;
					text-indent: -9999px;
					background-size: contain;
					width: 30px;
					height: 30px;
					border-radius: 50%;
				}
			}
		}
		.social-btn {
			li {
				display: inline-block;
				padding-left: 25px;
				background: url("../img/social-mail.png") no-repeat 0 0;
				margin-bottom: 15px;
				a {
					display: inline-block;
					color: #0193e9;
					.info-block {
						width: 50%;
						display: inline-block;
						.link {
							display: inline-block;
							p {
								font-weight: 700;
								font-size: 14px;
								color: #3F3F3F;
							}
							ul {
								li {
									list-style: none;
									a {
										display: inline-block;
										color: #0193e9;
										margin: 7px 0;
										font-size: 12px;
									}
								}
							}
						}
					}
					.contacts {
						display: inline-block;
						width: 25%;
						.buttons {
							display: block;
							li {
								display: inline;
								button {
									background: url("../img/social-circle-vk.png") no-repeat 0 0;
									text-indent: -9999px;
									background-size: contain;
									width: 30px;
									height: 30px;
									border-radius: 50%;
								}
							}
						}
						.social-btn {
							li {
								display: inline-block;
								padding-left: 25px;
								background: url("../img/social-mail.png") no-repeat 0 0;
								margin-bottom: 15px;
								a {
									display: inline-block;
									color: #0193e9;

								}
							}
						}
					}
					.phone {
						font-size: 20px;
						p {
							display: inline-block;
							float: right;
							font-size: 20px;
							margin-bottom: 10px;
						}
					}
				}

				.bottom-text {
					p {
						display: inline;
					}
				}

				.copyright {
					background-color: #0193e9;
					text-align: center;
					padding: 15px;
					color: white;
				}
			}
		}
	}
}

